{% extends 'base.html' %}
{% load staticfiles %}

{% block title%}
    我的网页|首页
{% endblock %}
{% block header_extends %}
    <link rel="stylesheet" href="{% static 'home.css' %}">
    <script src="http://cdn.highcharts.com.cn/highcharts/highcharts.js"></script>
{% endblock %}

{% block nav_blog_active %}active{% endblock %}

{% block content %}
    <h3 class="home-content">
        welcome to my Web!
    </h3>
    {#<p>{{ read_nums }}</p>#}

    <!-- 图表容器 DOM -->
    <div id="container"></div>
    <div class="hot-data">
    <!-- 今天热门博客 -->
    <h2>今日热门点击</h2>
    <ul>
        {% for hot_data in today_hot_data %}
            <li><a href="{% url 'blog_detail' hot_data.content_object.pk %}">{{hot_data.content_object.title}}</a>({{ hot_data.read_num }})</li>
        {% empty %}
            <li>{{今日暂无热门博客}}</li>
        {% endfor %}
    </ul>
    </div>

    <div class="hot-data">
    <!-- 昨日热门博客 -->
    <h2>昨日热门点击</h2>
    <ul>
        {% for hot_data in yesterday_hot_data %}
            <li><a href="{% url 'blog_detail' hot_data.content_object.pk %}">{{hot_data.content_object.title}}</a>({{ hot_data.read_num }})</li>
        {% empty %}
            <li>{{昨日暂无热门博客}}</li>
        {% endfor %}
    </ul>
    </div>

    <div class="hot-data">
        <!-- 7天热门博客 -->
    <h2>7天热门点击</h2>
    <ul>
        {% for hot_blog in hot_blogs_for_7_days %}
            <li><a href="{% url 'blog_detail' hot_blog.id %}">{{hot_blog.title}}</a>({{ hot_blog.read_num_sum }})</li>
        {% empty %}
            <li>{{昨日暂无热门博客}}</li>
        {% endfor %}
    </ul>
    </div>

    <script>
        // 图表配置
        var options = {
            chart: {
                type: 'line'                          //指定图表的类型，默认是折线图（line）
            },
            title: { text: null           },      // 标题},
            xAxis: {
                categories: {{ dates|safe }},
                tickmarkPlacement:'on',
                title:{ text:'7日内阅读量'},
        }, // x 轴分类

            yAxis: {
                title: {text: null     },
                labels:{ enabled:false },
                gridLineDashStyle:'Dash',
            },
            series: [{                              // 数据列
                name: '阅读量',                        // 数据列名
                data: {{ read_nums }}          // 数据
            }],
            plotOptions: {
                line: {
                    dataLabels: {
                        enabled: true
                    }
                }
            },
            legend:{ enabled:false  },
            credits:{ enabled:false },
        };
        // 图表初始化函数
        var chart = Highcharts.chart('container', options);
    </script>


{% endblock %}



