<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/com.css" />
    <title>测试</title>
</head>
<body>
    <h1>用户登录</h1>
    <form method="post" action="/well/">
    <input type="text" name="user"/>
    <input type="password" name="pwd"/>
    <input type="submit" value="登录"/>
        {{msg}}
        {{name.0}}
        {{name.1}}
        {{user_dict.k1}}
        {{user_dict.k2}}
    </form>
    <h1>循环</h1>
    <ul>
        {% for item in name %}
            <li>{{ item }}</li>
        {% endfor %}
    </ul>

    <h3>循环</h3>
    <table border="1">
        {% for item in user_list %}
            <tr>
                <td>{{ item.id }}</td>
                <td>{{item.name}}</td>
                <td>{{item.email}}</td>
                <td><a>编辑</a> | <a href="/del/?nid={{item.id}}">删除</a></td>
            </tr>
        {% endfor %}
    </table>

</body>
</html>